/* This is a CSS comment. Welcome to the stylesheet for our page. This is where we make the things pretty. */
body, ol, li{
  text-align: left;
}
ol, ul{
  text-align: center;
  list-style-position: inside;
}
input{
  width: 80%;
  font-size: 30px;
}
input[type="submit"]{
  background-color: #0362fc;
  color: white;
}
